html, body {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: tahoma, helvetica, sans-serif;
    font-size: 8pt;
}

input {
    font-family: tahoma, helvetica, sans-serif;
    font-size: 8pt;
}

select {
    font-family: tahoma, helvetica, sans-serif;
    font-size: 8pt;
}

body.editor {
    width: 100%;
    min-height: 850px;
    min-width: 963px;
}

body.form {
    background-color: #F5F5F5;
}

#header {
    background-color: #E32D21;
    color: white;
    border-bottom: 1px solid #DDDDDD;
    font-size: 12pt;
    font-weight: bold;
    height: 30px;
    padding: 5px;
    padding-left: 15px;
}

#headerLinks {
    float: right;
    font-size: 10pt;
}

#headerLinks a {
    color: white;
}

#objectTree {
    overflow: auto;
    background-color: white;
    border: 1px solid #DDDDDD;
    width: 100%;
    height: 100%;
}

#objectTree a.uneditable {
    color: gray;
}

#objectTree .node {
    /*margin: 1px;*/
}

#objectTree .selected {
    /*margin: 1px;*/
    font-weight: bold;
}

#objectTree .icon {
    width: 19px;
    height: 16px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 1px;
}

#objectTree .icon_rseq_CROSS {
    background-image: url(../images/treeview/vri.png);
}

#objectTree .icon_rseq_PIU {
    background-image: url(../images/treeview/piu.png);
}

#objectTree .icon_rseq_CLOSE {
    background-image: url(../images/treeview/close.png);
    width: 17px;
    margin-right: 0px;
}

#objectTree .icon_ag_nostop {
    background-image: url(../images/treeview/ag.gif);
}

#objectTree .icon_ag_stop {
    background-image: url(../images/treeview/ag-rood.gif);
}

#objectTree .icon_a_Onbekend {
    background-image: url(../images/treeview/radio_zwart.gif);
    width: 19px;
}

#objectTree .icon_a_Inm {
    background-image: url(../images/treeview/radio_groen.gif);
    width: 19px;
}

#objectTree .icon_a_Uit {
    background-image: url(../images/treeview/radio_rood.gif);
    width: 19px;
}

#objectTree .icon_a_Voor {
    background-image: url(../images/treeview/radio_blauw.gif);
    width: 19px;
}

table.form {
    border-collapse: collapse;
}

.number {
    text-align: right;
}

td.disabled {
    background-color: rgb(215,209,197);
}

.formTableContainer {
    height: 310px;
    overflow: auto;
}

#tree {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    min-height: 170px;
    height: 100%;
    width: 100%;
}

#treeTitel {
    background-color: #DDDDDD;
    font-weight: bold;
}

#treeTop input {
    margin-top: 8px;
}

#loading {
    float: right;
    margin-right: 3px;
    margin-top: 10px;
    width: 19px;
    height: 16px;
    visibility: hidden;
}

#options {
    border: none;
    width: 100%;
    height: 30px;    
}

#form {
    border: 1px solid #DDDDDD;
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
}

#kaart {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    width: 100%;
    height: 100%;
}

#flashcontent {
    min-height: 810px;
}

#flashcontent object {
    min-height: 810px;
}

#contentcontainer, #content {
    margin: 5px;
}

.loginImage {
    background-image: url(../images/busmatrix.jpg);
    background-repeat: no-repeat;
    height: 820px;    
}

.loginBox {
    position: absolute;
    top: 200px;
    left: 30px;
    width: 400px;
    height: 150px;
    background-color: #F5F5F5;
    border: 1px solid black;

	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}

.loginBox td {
    font-size: 10pt;
}

.loginBox div {
    padding: 5px;
}

.loginboxTitel {
    background-color: #DDDDDD;
    padding: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 390px;
    font-size: 10pt;
    font-weight: bold;
}

.formTableContainer .form {
    width: 98%;
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}

.formTableContainer .form td {
    border: 1px solid #DDDDDD;
    padding: 2px;
    font-size: 8pt;
}

.formTableContainer .form td td {
    border: none;
    padding: 1px;
}

#location {
    font-family: "courier new", courier, serif;
    font-weight: normal;
}

.changed {
    color: red;
}

#roListHeader {
    width: 300px;
    margin-bottom: 8pt;
}

#roList {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 2px solid threedface;
}

#roList td {
    background-color: #eeeeee;
}

#roList th {
    background-color: #aaaaaa;
}

#popupWindow_Windowbackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 99;
    display: none;
}
.popup_Window{
    overflow: scroll;
}

#searchform, #contextinfo, #rightbar, #form {
    padding: 5px;
}

.description {
    margin-top: 5px;
    margin-bottom: 10px;
}

.formedit {
    margin-top: 15px;
}

.edittable {
    margin-top: 10px;
}

.edittable .left td {
    padding-bottom: 5px;
    padding-right: 5px;
}

.edittable .right {
    padding-left: 10px;
}

#gebruikerScroller {
    max-height: 180px;
    overflow: auto;
    width: 750px;
    border: 1px solid;
}

#gebruikerScroller table, .tableheader {
    font-size: 8pt;
    border-collapse: collapse;
    border: 0px;
}

.tableheader {
    width: 750px;
}

.tableheader th {
    border: 1px solid;
    border-bottom: 0px none;
    padding: 3px;
    font-weight: bold;
}

#gebruikerScroller table td, #gebruikerScroller table th {
    border: 1px solid;
    padding: 3px;
}

#gebruikerScroller table tr:first-child td {
    border-top: 0px;
}

#gebruikerScroller table tr:last-child td {
    border-bottom: 0px;
}

#gebruikerScroller table td:first-child {
    border-left: 0px;
}