html, body {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: tahoma, helvetica, sans-serif;
    font-size: 8pt;
}

input {
    font-family: tahoma, helvetica, sans-serif;
    font-size: 8pt;
}

select {
    font-family: tahoma, helvetica, sans-serif;
    font-size: 8pt;
}

body.editor {
    width: 100%;
    min-height: 850px;
    min-width: 963px;
}

body.form {
    background-color: #F5F5F5;
}

#header {
    margin: 0px;
    height: 20px;
    background-color: #E32D21;
    padding: 5px;
    padding-left: 15px;
    color: white;
    border-bottom: 1px solid #DDDDDD;
    font-size: 12pt;
    font-weight: bold;
}

#headerLinks {
    float: right;
    font-size: 10pt;
}

#headerLinks a {
    color: white;
}

#objectTree {
    overflow: auto;
    
    background-color: white;
    border: 1px solid #DDDDDD;

    width: auto;
    height: auto;
    position: absolute;
    left: 3px;
    right: 3px;
    top: 60px;
    bottom: 50px;

    min-height: 60px;
}

#objectTree .node {
    /*margin: 1px;*/
}

#objectTree .selected {
    /*margin: 1px;*/
    font-weight: bold;
}

#objectTree .icon {
    width: 19px;
    height: 16px;
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 1px;
}

#objectTree .icon_rseq_CROSS {
    background-image: url(../images/treeview/vri.png);
}

#objectTree .icon_rseq_PIU {
    background-image: url(../images/treeview/piu.png);
}

#objectTree .icon_rseq_CLOSE {
    background-image: url(../images/treeview/close.png);
    width: 17px;
    margin-right: 0px;
}

#objectTree .icon_ag_nostop {
    background-image: url(../images/treeview/ag.gif);
}

#objectTree .icon_ag_stop {
    background-image: url(../images/treeview/ag-rood.gif);
}

#objectTree .icon_a_Onbekend {
    background-image: url(../images/treeview/radio_zwart.gif);
    width: 19px;
}

#objectTree .icon_a_Inm {
    background-image: url(../images/treeview/radio_groen.gif);
    width: 19px;
}

#objectTree .icon_a_Uit {
    background-image: url(../images/treeview/radio_rood.gif);
    width: 19px;
}

#objectTree .icon_a_Voor {
    background-image: url(../images/treeview/radio_blauw.gif);
    width: 19px;
}

table.form {
    border-collapse: collapse;
}

.number {
    text-align: right;
}

td.disabled {
    background-color: rgb(215,209,197);
}

.formTableContainer {
    height: 310px;
    overflow: auto;
}

#leftbar {
    margin: 0px;
    width: 375px;
    position: absolute;
    top: 30px;
    left: 0px;
    bottom: 0px;
    min-height: 822px;
}

#tree {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 100%;
    bottom: 436px;
    position: absolute;
    left: 5px;
    top: 5px;
    min-height: 170px;
}

#treeTop {
    position: absolute;
    left: 3px;
    top: 0px;
    width: 100%;
    height: 50px;
}

#treeTitel {
    background-color: #DDDDDD;
    padding: 5px;
    font-weight: bold;
    margin: 0px;
    margin-left: -3px;
    margin-right: 3px;
    margin-bottom: 3px;
}

#treeTop input {
    margin-top: 8px;
}

#loading {
    float: right;
    margin-right: 3px;
    margin-top: 10px;
    width: 19px;
    height: 16px;
    visibility: hidden;
}

#options {
    border: none;
    margin: 0px;
    position: absolute;
    left: 3px;
    bottom: 15px;
    width: 100%;
    height: 30px;    
}

#form {
    border: 1px solid #DDDDDD;
    background-color: #F5F5F5;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 426px;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

#kaart {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    left: 385px;
    position: absolute;
    top: 35px;
    bottom: 5px;
    right: 5px;
    min-height: 810px;
    min-width: 575px;
}

#flashcontent {
    min-height: 810px;
}

#flashcontent object {
    min-height: 810px;
}

#formContainer {
	margin: 0px;
	padding: 0px;
    position: absolute;
    left: 3px;
    bottom: 3px;
    right: 3px;
    top: 3px;
    width: 98.5%;
    height: 98.5%;
}

#form iframe {
    width: 100%;
    height: 100%;
}

#contentcontainer, #content {
    margin: 5px;
    height: auto;
}

.loginImage {
    background-image: url(../images/busmatrix.jpg);
    background-repeat: no-repeat;
    height: 820px;    
}

.loginBox {
    position: absolute;
    top: 200px;
    left: 30px;
    width: 400px;
    height: 150px;
    background-color: #F5F5F5;
    border: 1px solid black;

	filter: alpha(opacity=85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}

.loginBox td {
    font-size: 10pt;
}

.loginBox div {
    padding: 5px;
}

.loginboxTitel {
    background-color: #DDDDDD;
    padding: 5px;
    margin-left: 0px;
    margin-bottom: 10px;
    width: 390px;
    font-size: 10pt;
    font-weight: bold;
}

.formTableContainer .form {
    width: 98%;
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
}

.formTableContainer .form td {
    border: 1px solid #DDDDDD;
    padding: 2px;
    font-size: 8pt;
}

.formTableContainer .form td td {
    border: none;
    padding: 1px;
}

#location {
    font-family: "courier new", courier, serif;
    font-weight: normal;
}

.changed {
    color: red;
}

#roListHeader {
    width: 300px;
    margin-bottom: 8pt;
}

#roList {
    width: 300px;
    height: 200px;
    overflow: auto;
    border: 2px solid threedface;
}

#roList td {
    background-color: #eeeeee;
}

#roList th {
    background-color: #aaaaaa;
}