body.editor {
    width: 1260px;
}

#leftbar {
    margin: 0px;
    float: none;
    width: 375px;
    position: absolute;
    top: 25px;
    left: -5px;
    bottom: 0px;
}

#tree {
    bottom: 426px;
    position: absolute;
    left: 5px;
    top: 5px;
    margin: 5px;
    padding: 3px;
    width: 100%;
    height: 392px;
}

#treeTop {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 70px;
    padding-left: 3px;
    height: 50px;
}

#treeTitel {
    background-color: #DDDDDD;
    padding: 5px;
    font-weight: bold;
    margin: 0px;
    margin-left: -3px;
    margin-right: 0px;
    margin-bottom: 8px;
    width: 372px;
}

#objectTree {
    background-color: White;
    border: 1px solid #DDDDDD;

    width: auto;
    height: auto;
    position: absolute;
    left: 3px;
    right: 3px;
    top: 80px;
    bottom: 50px;

    top: 65px;
    width: 372px;
    height: 248px;
}

#options {
    border: none;
    margin: 0px;
    position: absolute;
    left: 3px;
    bottom: 15px;
    margin-top: 5px; 
    width: 100%;
    height: 30px;
}

#form {
    height: 440px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    top: 398px;
    margin: 5px;
    padding: 3px;
    width: 100%;
}

#kaart {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;

    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
    float: none;
    clear: none;
    left: 385px;
    position: absolute;
    top: 30px;
    bottom: 5px;
    right: 5px;
    margin: 5px 0px 5px 5px; padding: 3px; width: 860px; height: 833px; float: left; clear: right;
}

#formContainer {
    position: absolute;
    left: 3px;
    bottom: 3px;
    right: 3px;
    top: 3px;
    
	width: 100%;
	height: 440px;
	margin: 0px;
	padding: 0px;
    background-color: #F5F5F5;
}

#form iframe {
    border: 0px none; width: 100%; height: 100%;
    background-color: #F5F5F5;
}