body {
    font-family: tahoma, helvetica, sans-serif;
    font-size: 10pt;
}

input {
    font-family: tahoma, helvetica, sans-serif;
    font-size: 8pt;
}

select {
    font-family: tahoma, helvetica, sans-serif;
    font-size: 8pt;
}

body.editor {
    margin: 5px;
    padding: 0px;
}

body.form {
    margin: 0px;
    padding: 0px;
    font-size: 8pt;
    font-family: tahoma, helvetica, sans-serif;
}

#header{
    height: 20px;
}

#headerTitle{
    font-size: 12pt;
    font-weight: bold;
    margin-top: 6px;
}

#objectTree {
    font-family: tahoma, helvetica, sans-serif;
    font-size: 8pt;
    overflow: auto;
}

#objectTree .node {
    margin: 2px;
}

#objectTree .selected {
    margin: 1px;
    font-weight: bold;
}

table.form {
    margin-left: 3px;
    margin-top: 3px;
    border-collapse: collapse;
}

.number {
    text-align: right;
}

td.disabled {
    background-color: rgb(215,209,197);
}

.formTableContainer {
    height: 290px;
    overflow: auto;
}
