<?xml version="1.0" encoding="UTF-8"?>
<persistence version="1.0" xmlns="http://java.sun.com/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/persistence http://java.sun.com/xml/ns/persistence/persistence_1_0.xsd">
  <persistence-unit name="karGisPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.hibernate.ejb.HibernatePersistence</provider>
    <properties>
      <property name="hibernate.connection.username" value="postgres"/>
      <property name="hibernate.connection.driver_class" value="org.postgis.DriverWrapper"/>
      <property name="hibernate.connection.password" value="xXxXxXxXxXx"/>
      <!-- productie: -->
      <property name="hibernate.connection.url" value="jdbc:postgresql_postGIS://x5.b3p.nl:5432/kar_gis"/>
      <!--property name="hibernate.connection.url" value="jdbc:postgresql_postGIS://b3p-demoserver:5432/kar_gis"/-->
      <property name="hibernate.cache.provider_class" value="org.hibernate.cache.NoCacheProvider"/>
      <property name="hibernate.dialect" value="org.hibernatespatial.postgis.PostgisDialect"/>
      <property name="hibernate.show_sql" value="true"/>
      </properties>
  </persistence-unit>
</persistence>